{{page-title "Product"}}
<div class="navbar-category" id="container-categories"> </div>
<div class="products">
    <ul id="container-products">
    </ul>
</div>
<script>


        let products = [
            {
                id: 1,
                name: '3 Người thầy vĩ đại',
                price: 30000,
                thumbail_url: '/assets/3nguoithayvidai.jpg',
                category_id: 1
            },
            {
                id: 2,
                name: 'Biết người dùng người quản người',
                price: 76000,
                thumbail_url: '/assets/bietnguoidungnguoiquannguoi.jpg',
                category_id: 1
            },
            {
                id: 3,
                name: 'Bí mật tư duy triệu phú',
                price: 76000,
                thumbail_url: '/assets/bimattuduytrieuphu.jpg',
                category_id: 1
            },
            {
                id: 4,
                name: 'Bước chậm giữa thế gian vội vả',
                price: 36700,
                thumbail_url: '/assets/buocchamgiuathegianvoiva.jpg',
                category_id: 1
            },
            {
                id: 5,
                name: 'Cảm xúc là kẻ thù số một của của thành công',
                price: 76000,
                thumbail_url: '/assets/camxuclakethucuathanhcong.jpg',
                category_id: 1
            },
            {
                id: 6,
                name: 'Cây cam ngọt của tôi',
                price: 76000,
                thumbail_url: '/assets/caycamngotcuatoi.jpg',
                category_id: 1
            },
            {
                id: 7,
                name: 'Cư xử như đàn bà suy nghĩ như đàn ông',
                price: 76000,
                thumbail_url: '/assets/cuxunhudanbasuynghinhudanong.jpg',
                category_id: 2
            },
            {
                id: 8,
                name: 'Đắc nhân tâm',
                price: 76000,
                thumbail_url: '/assets/dacnhantam.jpg',
                category_id: 2
            },
            {
                id: 9,
                name: 'Điềm tĩnh và nóng giận',
                price: 76000,
                thumbail_url: '/assets/diemtinhvanonggian.jpg',
                category_id: 2
            },
            {
                id: 10,
                name: 'Đời ngắn đừng ngủ dài',
                price: 76000,
                thumbail_url: '/assets/doingandungngudai.jpg',
                category_id: 2
            },
            {
                id: 11,
                name: 'Khéo ăn nói sẽ có được thiên hạ',
                price: 76000,
                thumbail_url: '/assets/kheoannoisecoduocthienha.jpg',
                category_id: 2
            },
            {
                id: 12,
                name: 'Giận',
                price: 76000,
                thumbail_url: '/assets/gian.jpg',
                category_id: 2
            },
            {
                id: 13,
                name: 'Không bao giờ là thất bại',
                price: 76000,
                thumbail_url: '/assets/khongbaogiolathatbai.jpg',
                category_id: 3
            },
            {
                id: 14,
                name: 'Kỷ luật tự giác',
                price: 76000,
                thumbail_url: '/assets/kyluattugiac.jpg',
                category_id: 3
            },
            {
                id: 15,
                name: 'Làm chủ tư duy thay đổi vận mệnh',
                price: 76000,
                thumbail_url: '/assets/lamchutuduythaydoivanmenh.jpg',
                category_id: 3
            },
            {
                id: 16,
                name: 'Mình sinh ra đâu phải để buồn',
                price: 76000,
                thumbail_url: '/assets/minhsinhradauphaidebuon.jpg',
                category_id: 3
            },
            {
                id: 17,
                name: 'Muôn kiếp nhân sinh',
                price: 76000,
                thumbail_url: '/assets/muonkiepnhansinh.jpg',
                category_id: 3
            },
            {
                id: 18,
                name: 'Nghĩ giàu làm giàu',
                price: 76000,
                thumbail_url: '/assets/nghigiaulamgiau.jpg',
                category_id: 3
            },
            {
                id: 19,
                name: 'Nghĩ lớn để thành công',
                price: 76000,
                thumbail_url: '/assets/nghilondethanhcong.jpg',
                category_id: 4
            },
{{!-- {{outlet}} --}}


