function handleRenderCategories() {
            let containerCategories = document.querySelector('#container-categories');
            
            let categoriesHTML = categories.map(item => {
                return `
                    <button class="btn" onclick="handleSelectCategory(${item.id})">${item.name}</button>
                `;
            })

            containerCategories.innerHTML = `${categoriesHTML.join('')}`;
        }
        
        function handleSelectCategory(id) {
            let product_filler = products;
            if (id) {
                product_filler = products.filter(item => item.category_id === id);
            }
            handleRenderProductIntoPage(product_filler);
            setEventClickAddCart()
        }09:23/-strong/-heart:>:o:-((:-h