 function handleRenderCategories() {
            let containerCategories = document.querySelector('#container-categories');
            
            let categoriesHTML = categories.map(item => {
                return `
                    <button class="btn" onclick="handleSelectCategory(${item.id})">${item.name}</button>
                `;
            })

            containerCategories.innerHTML = `${categoriesHTML.join('')}`;
        }
        
        function handleSelectCategory(id) {
            let product_filler = products;
            if (id) {
                product_filler = products.filter(item => item.category_id === id);
            }
            handleRenderProductIntoPage(product_filler);
            setEventClickAddCart()
        }

        function handleRenderProductIntoPage(products) {
            let containerProduct = document.querySelector('#container-products');

            let productHTML = products.map(item => {
                return `
                    <li class="main-product">
                        <div class="img-product">
                            <img class="img-prd"
                                src="${item.thumbail_url}"
                                alt="">
                        </div>
                        <div class="content-product">
                            <h3 class="content-product-h3">${item.name}</h3>
                            <div class="content-product-deltals">
                                <div class="price">
                                    <span class="money">${item.price}đ</span>
                                </div>
                                <button type="button" class="btn btn-cart">Thêm Vào Giỏ</button>
                            </div>
                        </div>
                    </li>
                `;
            })

            containerProduct.innerHTML = `${productHTML.join('')}`;
        }       

        function handleSearchProduct() {
            let product_filler_search = products;
            let params = new URL(document.location).searchParams;
            let search_key = params.get("search");
            if (search_key) {
                product_filler_search = products.filter(item => item.name.toLocaleLowerCase().indexOf(search_key.toLocaleLowerCase()) >= 0);
            }
            handleRenderProductIntoPage(product_filler_search);
        }


        handleRenderCategories();
        handleSearchProduct();